@page
@model IndexModel
@{
    ViewData["Title"] = "Azure IoT Hub certificate management";
}

<div class="text-center">
    <h1 class="display-4">Azure IoT Hub & DPS PKI for devices</h1>
    <p>Lets you create and manage certificates to use in an Azure IoT DPS</p>
</div>
