@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure IoT PKI for devices</h1>
    <p>Lets you create and manage certificates to use in an Azure IoT DPS</p>
</div>
